<h1>{{title}}</h1>
<img height="400px" src="{{urlImg1}}">
<img height="400px" [src]="urlImg2">

<button type="button" (click)="enlarge()">Clicked {{counter}} times</button>

<input type="number" [(ngModel)]=counter name="" id="">
<ul>
  <li *ngFor="let course of courses"> {{course}}</li>
</ul>
<button type="button" (click)="changeVisibility()" *ngIf="isActive">Hide</button>
<button type="button" (click)="changeVisibility()" *ngIf="!isActive">Show</button>
<input type="checkbox" [(ngModel)]="isActive" >
<img height="400px" src = {{urlImg3}} *ngIf="isActive">